body {
    font-family:'Times New Roman', Times, serif;
    background-color:#888081 ;
    text-align: center;
    margin-top: 40px;
}

#main{
    width: 15%;
    float:left;
   background-color: rgb(125, 105, 134);  
}
#add,#edit,#search,#show{
    width: 80%;
}
.t-forme{
    display:grid;
    grid-template-columns: 85px 250px;
    gap:10px;
    width: 80%;
    background-origin: padding-box;
}

.ts-forme{
    display:grid;
    grid-template-columns: 220px 70px;
    gap:10px;
    width: 80%;
    background-origin: padding-box;
    font-size: 14px;
    margin-top: 0.13px;
    margin-bottom: 0.13px;
}

#dedit,#dadd,#dshow{
 width: 80%;
 float:left;
 text-align: left;
 margin: 7px;
 display: none;
}
#summary{
 background-color:#b4989b ;
    text-align: left;
    padding: 15px;
    
}
.bgrowincome{
background-color:#05ec24 ;
}
.bgrowexpense{
background-color:#9b0e04 ;
}