body {
    font-family: 'Pacifico', cursive;
    background-color:#FFFFFF ;
    text-align: center;
    margin-top: 80px;
}

h1 { 
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    color: #253342;
}
h2 { 
    font-family: 'Rock Salt', cursive;
    font-size: 18px;
    color: #253342;
    text-align:center;
}

#body{

display: none;
}
