body {
    font-family: 'Pacifico', cursive;
    background-color:#FFFFFF ;
    text-align: center;
    margin-top: 80px;
}

h1 { 
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    color: #253342;
    display:inline;
}
.student-form{
    display:grid;
    grid-template-columns: 120px 250px;
    gap:10px;
    margin: 0 auto;
    width: fit-content;
    background-origin: padding-box;
}
#dadd{
display:none;
}
#dshow{
display:none;
}
#ddelet{
display:none;
}
#dsearch{
display:none;
}
#daverage{
display:none;
}
#dchangesc{
display:none;
}
#dmaxscore{
    display: none;
}
#dminscore{
    display: none;
}
#dsorte{
    display: none;
}
#update{
    display: none;
}
#chscs{
    display: none;
}
